<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileTarget" xsi:type="File" fileName="C:\logs\calc\calc.log" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="name" layout="${logger:shortName=true}" />
        <attribute name="messageId" layout="${event-context:item=messageId}" />
        <attribute name="message" layout="${message}" />
        <attribute name="size" layout="${event-context:item=size}" />
        <attribute name="callsite" layout="${callsite:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true:SkipFrames=1}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <target name="dbTarget" xsi:type="Database"
              dbProvider="System.Data.SqlClient"
              connectionString="Max Pool Size=400;Connection Timeout=120;Data Source=localhost;Initial Catalog=Calculator;Persist Security Info=True;user id=calculator;password=1!password;"
              >

      <commandText>
        insert into calc.Log (
        [OperationTime]
        ,[Message]
        ,[StackTrace]
        ,[Exception]
        ) values (
        @OperationTime, @Message, @StackTrace, @Exception);
      </commandText>

      <parameter name="@OperationTime" layout="${date}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MessageSource" layout="${message}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />

    </target>
  </targets>

  <rules>
    <logger name="activityLogger" minlevel="Debug" writeTo="fileTarget" />
    <logger name="activityLogger" minlevel="Debug" writeTo="dbTarget" />
  </rules>
</nlog>