<?xml version="1.0" encoding="utf-8" ?>
<calc>
  <db>
    <sql connectionString="Max Pool Size=400;Connection Timeout=120;Data Source=localhost;Initial Catalog=Calculator;Persist Security Info=True;user id=calculator;password=1!password;" />
  </db>
  <app calculatorId="123" />
  <watcher checkingPeriodInMs="10000" />
</calc>